@*
    Gulkota Priyanka
*@
@{
}
<h1> My Details </h1>
<p> 
    <ul>
        <li> Name: Gulkota Priyanka </li>
        <li> Student ID:700725604 </li>
        <li> Email Id: pxg56040@ucmo.edu </li>
    </ul> 
</p>

